@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap')

* {
    font-family: "Roboto Serif", serif;
}

.boxAnimation:hover .boxImgAnimation{
   margin-top: -70px; 
}
.boxImgAnimation2{
    margin-top: -70px; 
 }
.boxTextAnimation{
    transform: scaleY(0);
 }
.boxTextAnimation2{
    transform: scaleY(1);
 }
.boxAnimation:hover .boxTextAnimation{
    transform: scaleY(1);
}